.classification {
  padding: 10px;

  .classification-row {
    margin: 20px 0;
    display: flex;

    &:first-child {
      margin-right: 20px;
    }

    .classification-select {
      display: flex;
      flex: 1;

      > p {
        padding: 0 10px;
        cursor: pointer;

        &:hover {
          color: pink;
          font-weight: bold;
        }
      }
    }
  }
}

.lists {
  .list {
    margin: 10px;
    height: 150px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    display: flex;

    .img {
      position: relative;

      &:hover > .mask {
        opacity: 1;
      }

      img {
        height: 150px;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .4s;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 150px;
        color: #fff;
        font-size: 25px;
      }
    }

    .content {
      margin: 10px;
      flex: 1;
      min-width: 0;

      > div {
        padding: 5px;
      }

      .title {
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .text {
        height: 60px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .other {
        display: flex;
        justify-content: space-between;

        .author {
          flex: 1;
          min-width: 0;
          margin-right: 5px;

          p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .date {
          white-space: nowrap;
        }
      }
    }
  }
}
