* {
  margin: 0;
  padding: 0;
}

h3, h2, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fafafa;
  color: #333;

  // 轮播图
  .carousel .img-box {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #364d79;
    color: #fff;
  }

  // 筛选所在栏
  .filter {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    // 筛选button
    .filter-button {
      margin-right: 10px;
    }

    // 搜索input
    .search-input {
      width: 300px;
    }
  }

  // 内容区
  .content {
    padding: 10px;

    // 栏目
    .left {
      .column {
        overflow: hidden;
        border-radius: 20px;

        .img-box {
          height: 0;
          padding-bottom: 50%;
          cursor: pointer;
          overflow: hidden;

          img{
            width: 100%;
            transition: .3s;

            &:hover{
              transform: scale(1.1);
            }
          }
        }

        .text-box {
          padding: 10px;
          background-color: #ffffff;

          h2{
            font-size: 16px;
            font-weight: 400;
            padding: 10px 0;
          }

          .text{
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }
          .author{
            margin-top: 20px;
          }
        }
      }
    }

    // 侧边栏
    .sidebar {

    }
  }
}

